<%include header%>
<% if(entries.legth){%>
    <%entries.forEach((entry))=>{%>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted pull-rigth">
                    <%=entry.created%>
                </div>
                <%=entry.litle%>
                </div>
            <div class= "panel-body">
                <%=entrey.body%>
            </div>
        </div>
    <%})%>
<%}else{%>
    <p>No hay visitas todavia <a href="new-entry">Agregar una</a></p>
<%}%>
<%include footer%>
